body {
  font-family: theme("fontFamily.secondary-regular");
  background: theme("colors.milk");
  color: theme("colors.black");
}

.nav-active {
  background: theme("colors.blue");
}
.nav-active-additional {
  background: theme("colors.gray.200");
}
.nav-active .nav-icon svg {
  stroke: theme("colors.white") !important;
  transition: all 0.3s ease;
}
.nav-active .nav-text {
  color: theme("colors.white");
  transition: all 0.3s ease;
}
.nav-icon svg {
  fill: transparent !important;
  stroke: theme("colors.black");
  transition: all 0.3s ease;
}
.group:hover .nav-icon svg {
  stroke: theme("colors.white");
  transition: all 0.3s ease;
}

.filter-btn.active {
  background: theme("colors.blue");
}

.filter-btn.active .btn-icon svg {
  fill: theme("colors.white");
}
.filter-btn.active .btn-text {
  color: theme("colors.white");
}

.layout.grid {
  grid-template-columns: 1fr 1fr;
}
.layout.grid .actions-list {
  display: none;
}
.layout.list .actions-list {
  display: flex;
}
.layout.grid .actions-grid {
  display: flex;
}
.layout.list .actions-grid {
  display: none;
}
.layout.grid .main.body .head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.layout.list .main.body .head {
  display: flex;
  gap: 15px;
}
@media screen and (min-width: theme("screens.xl")) {
  .layout.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
}
@media screen and (min-width: theme("screens.md")) {
  .layout.grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .layout.list .main {
    gap: 30px;
  }
}
@media screen and (max-width: theme("screens.sm")) {
  .layout.list .main.body .head {
    display: flex;
    align-items: center;
  }
  .layout.list .main.body.edit-mode {
    flex-direction: column-reverse;
    align-items: end;
  }
}
.layout.list {
  display: flex;
  flex-direction: column;
}
.layout.list textarea {
  height: 40px;
}
.layout.list .list-input {
  width: max-content;
}
.layout.list .parent {
  height: auto;
  padding: 14px 21px;
}
.layout.list .main {
  flex-direction: row;
  justify-content: start;
  gap: 16px;
}
.layout.list .main p {
  text-align: start;
}
.layout.list .image {
  width: 35px;
}
.layout.grid .settings-grid {
  display: flex;
}
.layout.grid .settings-list {
  display: none;
}
.layout.list .settings-list {
  display: flex;
}
.layout.list .settings-grid {
  display: none;
}
.settings-list .icon {
  top: 60%;
  transform: translateY(-50%);
  right: 0;
}
.settings-list .options {
  right: 0;
}

.authLayout .swiper {
  user-select: none;
  height: 100%;
}
.authLayout .swiper .swiper-slide {
  opacity: 0.6;
  transition: all 0.3s ease;
}
.authLayout .swiper .swiper-slide.swiper-slide-active {
  opacity: 1;
  transition: all 0.3s ease;
}

.authLayout .swiper-pagination {
  bottom: 120px;
}
.authLayout .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: theme("colors.white");
  transition: all 0.3s ease;
}

.authLayout .swiper-pagination-bullet-active {
  outline: 3px solid theme("colors.white");
  background: theme("colors.blue");
  transition: all 0.3s ease;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 16px;
  border-radius: 10px;
  /* transition: none !important; */
}
.submit-btn p {
  font-size: theme("fontSize.base");
  font-family: theme("fontFamily.secondary-medium");
  color: theme("colors.white");
}
.submit-btn.text-black p {
  color: theme("colors.black");
}
.primary-btn p {
  color: theme("colors.white");
}
.primary-btn.fill .btn-icon svg {
  fill: theme("colors.white");
}
.primary-btn.stroke .btn-icon svg {
  stroke: theme("colors.white");
}

.btn-main-text {
  background: transparent;
}
.btn-main-text .btn-icon svg {
  fill: theme("colors.blue");
}
.btn-main-text .btn-text {
  color: theme("colors.blue");
  font-size: theme("fontSize.sm");
  font-family: theme("fontFamily.secondary-medium");
}

.checkbox .checkbox-label {
  font-size: theme("fontSize.sm");
  color: theme("colors.gray.300");
}
.checkbox a {
  color: theme("colors.green");
}

.text-black svg {
  fill: theme("colors.black");
}

.icon svg {
  width: 100%;
  height: 100%;
  fill: theme("colors.black");
}

.action-btn.danger .btn-text {
  color: theme("colors.red");
}
.action-btn.success .btn-text {
  color: theme("colors.green");
}
.action-btn.success .btn-icon svg {
  fill: theme("colors.green");
}
.danger-icon svg {
  fill: theme('colors.red');
}
.action-btn.success.stroke .btn-icon svg {
  stroke: theme("colors.green");
}
.action-btn.success:hover .btn-text {
  color: theme("colors.white");
}
.action-btn.success.hover-green:hover .btn-text {
  color: theme("colors.green");
}
.switch-btn {
  background: theme("colors.white");
  border: 1px solid theme("colors.blue");
  padding: 4px 7px;
}
.switch-btn .btn-text {
  color: theme("colors.blue");
}
.switch-btn .btn-icon svg {
  fill: theme("colors.blue");
}
.primary-icon svg{
  fill: theme('colors.blue');
}

.stroke svg {
  fill: transparent !important;
}
