body {
  font-family: theme("fontFamily.secondary-regular");
  background: theme("colors.milk");
  color: theme("colors.black");
}
.smooth {
  scroll-behavior: smooth;
}
.break-word {
  word-break: break-word;
}
.nav-active {
  background: theme("colors.blue");
}
.nav-active-additional {
  background: theme("colors.gray.200") !important;
}
.nav-additional:hover {
  background: theme("colors.gray.200") !important;
}
.nav-additional:hover .nav-text,
.nav-active-additional:hover .nav-text {
  color: theme("colors.black") !important;
}
.nav-active-additional:hover .nav-icon svg,
.nav-additional:hover .nav-icon svg {
  stroke: theme("colors.black") !important;
}
.nav-active-additional:hover .nav-icon.additional.text-white.stroke svg,
.nav-additional:hover .nav-icon.additional.text-white.stroke svg {
  stroke: theme("colors.white") !important;
}
.nav-active .nav-icon svg {
  stroke: theme("colors.white") !important;
  transition: all 0.3s ease;
}
.nav-active .nav-text {
  color: theme("colors.white");
  transition: all 0.3s ease;
}
.nav-icon svg {
  fill: transparent !important;
  stroke: theme("colors.black");
  transition: all 0.3s ease;
}
.group:hover .nav-icon svg {
  stroke: theme("colors.white");
  transition: all 0.3s ease;
}

.filter-btn.active {
  background: theme("colors.blue");
}

.filter-btn.active .btn-icon svg {
  fill: theme("colors.white");
}
.filter-btn.active .btn-text {
  color: theme("colors.white");
}

.layout.grid {
  grid-template-columns: 1fr 1fr;
}
.layout.grid .actions-list {
  display: none;
}
.layout.list .actions-list {
  display: flex;
}
.layout.grid .actions-grid {
  display: flex;
}
.layout.list .actions-grid {
  display: none;
}
.layout.grid .main.body .head {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.layout.list .main.body .head {
  display: flex;
  gap: 15px;
}
@media screen and (min-width: theme("screens.lg")) {
  .layout.grid {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
}
@media screen and (min-width: theme("screens.md")) {
  .layout.grid {
    grid-template-columns: 1fr 1fr;
  }
  .layout.list .main {
    gap: 30px;
  }
}
@media screen and (max-width: theme("screens.sm")) {
  .layout.list .main.body .head {
    display: flex;
    align-items: center;
  }
  .layout.list .main.body.edit-mode {
    flex-direction: column-reverse;
    align-items: end;
  }
}
.layout.list {
  display: flex;
  flex-direction: column;
}
.layout.list textarea {
  height: 40px;
}
.layout.list .list-input {
  width: max-content;
}
.layout.list .parent {
  height: auto;
  padding: 14px 21px;
}
.layout.list .main {
  flex-direction: row;
  justify-content: start;
  gap: 16px;
}
.layout.list .main p {
  text-align: start;
}
.layout.list .image {
  width: 35px;
}
.layout.grid .settings-grid {
  display: flex;
}
.layout.grid .settings-list {
  display: none;
}
.layout.list .settings-list {
  display: flex;
}
.layout.list .settings-grid {
  display: none;
}
.settings-list .icon {
  top: 60%;
  transform: translateY(-50%);
  right: 0;
}
.settings-list .options {
  right: 0;
}

.authLayout .swiper {
  user-select: none;
  height: 100%;
}
.authLayout .swiper .swiper-slide {
  opacity: 0.6;
  transition: all 0.3s ease;
}
.authLayout .swiper .swiper-slide.swiper-slide-active {
  opacity: 1;
  transition: all 0.3s ease;
}

.authLayout .swiper-pagination {
  bottom: 120px;
}
.authLayout .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  opacity: 1;
  background: theme("colors.white");
  transition: all 0.3s ease;
}

.authLayout .swiper-pagination-bullet-active {
  outline: 3px solid theme("colors.white");
  background: theme("colors.blue");
  transition: all 0.3s ease;
}

.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 14px;
  padding-bottom: 16px;
  border-radius: 10px;
  /* transition: none !important; */
}
.submit-btn p {
  font-size: theme("fontSize.base");
  font-family: theme("fontFamily.secondary-medium");
  color: theme("colors.white");
}
.submit-btn.text-black p {
  color: theme("colors.black");
}
.primary-btn.fill {
  background: theme("colors.blue");
}
.primary-btn.fill .btn-icon svg {
  fill: theme("colors.white");
}
.primary-btn.stroke .btn-icon svg {
  fill: transparent;
  stroke: theme("colors.white");
}
.primary-btn p {
  color: theme("colors.white");
}
.primary-btn.fill .btn-icon svg {
  fill: theme("colors.white");
}
.primary-btn.stroke .btn-icon svg {
  stroke: theme("colors.white");
}

.btn-main-text {
  background: transparent;
}
.btn-main-text .btn-icon svg {
  fill: theme("colors.blue");
}
.btn-main-text .btn-text {
  color: theme("colors.blue");
  font-size: theme("fontSize.sm");
  font-family: theme("fontFamily.secondary-medium");
}

.checkbox .checkbox-label {
  font-size: theme("fontSize.sm");
  color: theme("colors.gray.300");
}
.checkbox a {
  color: theme("colors.green");
}

.checkbox-primary div {
  background: transparent !important;
  border: 1px solid theme("colors.gray.200") !important;
}
.checkbox-primary div {
  width: 26px;
  height: 26px;
  border-radius: 5px;
}
.checkbox-primary div svg {
  width: 16px;
  height: 16px;
}
.checkbox-primary input:checked ~ div svg {
  stroke: theme("colors.blue");
}

.text-black svg {
  fill: theme("colors.black");
}

.icon svg {
  width: 100%;
  height: 100%;
  fill: theme("colors.black");
}
.icon-white.stroke svg {
  fill: transparent;
  stroke: theme("colors.white");
}
.icon-primary.stroke svg {
  fill: transparent;
  stroke: theme("colors.blue");
}
.icon-white svg {
  stroke: transparent;
  fill: theme("colors.white");
}

.primary-btn.stroke {
  background: transparent;
}
.primary-btn.stroke .btn-text {
  font-size: theme("fontSize.md");
  color: theme("colors.blue");
}
.action-btn.danger .btn-text {
  color: theme("colors.red");
}
.action-btn.success .btn-text {
  color: theme("colors.green");
}
.primary-btn.stroke-icon svg {
  stroke: theme("colors.white");
}
.icon.text-white.stroke svg {
  stroke: white;
}
.action-btn.success .btn-icon svg {
  fill: theme("colors.green");
}
.plan-btn .btn-text {
  font-family: theme("fontFamily.secondary-medium");
}
.danger-icon svg {
  fill: theme("colors.red");
}
.nav-icon.text-white.stroke svg {
  stroke: theme("colors.white");
}
.danger-icon.stroke svg {
  fill: transparent;
  stroke: theme("colors.orange");
}
.action-btn.success.stroke .btn-icon svg {
  stroke: theme("colors.green");
}
.action-btn.success:hover .btn-text {
  color: theme("colors.white");
}
.action-btn.success.hover-green:hover .btn-text {
  color: theme("colors.green");
}
.switch-btn {
  background: theme("colors.white");
  border: 1px solid theme("colors.blue");
  padding: 4px 7px;
}
.switch-btn .btn-text {
  color: theme("colors.blue");
}
.switch-btn .btn-icon svg {
  fill: theme("colors.blue");
}
.primary-icon svg {
  fill: theme("colors.blue");
}

.stroke svg {
  fill: transparent !important;
}

@media screen and (max-width: theme("screens.sm")) {
  .table .tags {
    display: none;
  }
  .table .tags-body {
    display: none;
  }
  .table .delete {
    opacity: 0;
  }
}

.CircularProgressbar-text {
  fill: theme("colors.black") !important;
  font-size: theme("fontSize.base") !important;
  font-family: theme("fontFamily.secondary-regular");
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: rgba(122, 137, 254, 0.4);
  /* stroke-linecap: round; */
}
.CircularProgressbar {
  width: 135px;
  height: 135px;
}
.CircularProgressbar-path {
  stroke: theme("colors.blue") !important;
  stroke-linecap: butt !important;
}

@media screen and (max-width: theme("screens.lg")) {
  .addContent-modal {
    position: fixed;
    width: 100%;
    left: -200%;
    top: 84px;
    border-radius: 0px;
    transition: all 0.3s ease;
  }
  .addContent-modal.active {
    left: 0;
    transition: all 0.3s ease;
  }
  .addContent-modal #scroll-container {
    height: 70vh;
  }
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  border-radius: 240px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 240px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #d6dfe8;
  border-radius: 240px;
}

/* Handle on hover */
/* .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d7d7d7;
} */

.border-gradient {
  background: linear-gradient(
    rgba(122, 137, 254, 1),
    rgba(192, 184, 247, 1),
    rgba(203, 45, 128, 1),
    rgba(242, 164, 81, 1)
  );
}

.step {
  border-color: theme("colors.blue");
}
.step .btn {
  width: 90px;
  justify-content: center;
  border-radius: 9px;
  background: theme("colors.blue");
}
.step .btn .btn-text {
  color: theme("colors.white");
}
.step.disabled {
  border-color: theme("colors.gray.100");
}
.step.disabled .text {
  color: theme("colors.gray.100");
}
.step.disabled .btn {
  background: theme("colors.gray.100");
  cursor: not-allowed;
}
.step.success {
  background: rgba(122, 137, 254, 0.05);
}
.step.success .text {
  text-decoration: line-through;
}
.step.success .btn {
  background: theme("colors.green");
}

.filter-messages {
  width: 100%;
  padding: 0px !important;
}

.filter-messages button.active {
  background: #f2f2f2;
}
.filter-messages button.active .btn-text {
  color: theme("colors.black");
}

.pagination li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid theme("colors.gray.300");
  font-size: theme("fontSize.xs");
  color: theme("colors.gray.300");
  transition: all 0.2s ease;
}
.pagination li.break a {
  width: 15px;
  border: transparent !important;
  background: transparent !important;
}
.pagination li a:hover {
  background: rgba(122, 137, 254, 0.2);
  border-color: theme("colors.blue");
  transition: all 0.2s ease;
}
.pagination li.active a {
  background: rgba(122, 137, 254, 0.2);
  border-color: theme("colors.blue");
  color: theme("colors.blue");
  transition: all 0.2s ease;
}
.pagination li a svg path {
  stroke: theme("colors.gray.300");
}

.pagination li.disabled a svg path {
  stroke: theme("colors.gray.400");
}

.pagination li.disabled a {
  border-color: theme("colors.gray.400") !important;
  background: transparent !important;
  cursor: not-allowed !important;
}
.pagination li.next.disabled a {
  border-color: theme("colors.gray.400") !important;
  background: transparent !important;
  cursor: not-allowed !important;
}

.pagination li.next svg path,
.pagination li.previous svg path {
  stroke: theme("colors.white");
}
.pagination li.next a,
.pagination li.previous a {
  border-color: transparent;
  background: theme("colors.blue");
}

.loader {
  border: 4px solid #f3f3f3; /* Light gray */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}